In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("/Users/alfia/Desktop/Campus/data.csv")

In [3]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [4]:
df["salary"]=df["salary"].fillna(0)

In [5]:
df.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [6]:
df[0:3].T

                       0         1          2
sl_no                  1         2          3
gender                 M         M          M
ssc_p               67.0     79.33       65.0
ssc_b             Others   Central    Central
hsc_p               91.0     78.33       68.0
hsc_b             Others    Others    Central
hsc_s           Commerce   Science       Arts
degree_p            58.0     77.48       64.0
degree_t        Sci&Tech  Sci&Tech  Comm&Mgmt
workex                No       Yes         No
etest_p             55.0      86.5       75.0
specialisation    Mkt&HR   Mkt&Fin    Mkt&Fin
mba_p               58.8     66.28       57.8
status            Placed    Placed     Placed
salary          270000.0  200000.0   250000.0

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
df

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [9]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [10]:
le_gender = LabelEncoder()
ssc_b = LabelEncoder()
hsc_b = LabelEncoder()
hsc_s = LabelEncoder()
degree_t = LabelEncoder()
workex = LabelEncoder()
spec = LabelEncoder()
status= LabelEncoder()

In [11]:
df["Gender"] = le_gender.fit_transform(df.gender)
df["SSC_Board"] = ssc_b.fit_transform(df.ssc_b)
df["HSC_Board"] = hsc_b.fit_transform(df.hsc_b)
df["HSC_Stream"] = hsc_s.fit_transform(df.hsc_s)
df["Degree"] = degree_t.fit_transform(df.degree_t)
df["Experience"] = workex.fit_transform(df.workex)
df["Specialization"] = spec.fit_transform(df.specialisation)
df["Status"] = status.fit_transform(df.status)

In [12]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,...,status,salary,Gender,SSC_Board,HSC_Board,HSC_Stream,Degree,Experience,Specialization,Status
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,...,Placed,270000.0,1,1,1,1,2,0,1,1
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,...,Placed,200000.0,1,0,1,2,2,1,0,1
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,...,Placed,250000.0,1,0,0,0,0,0,0,1
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,...,Not Placed,0.0,1,0,0,2,2,0,1,0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,...,Placed,425000.0,1,0,0,1,0,0,0,1

In [13]:
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary', 'Gender', 'SSC_Board', 'HSC_Board', 'HSC_Stream',
       'Degree', 'Experience', 'Specialization', 'Status'],
      dtype='object')

In [14]:
df.drop(['sl_no', 'gender', 'ssc_b','hsc_b', 'hsc_s',
         'degree_t', 'workex', 'specialisation',
         'status'],axis=1,inplace=True)

In [15]:
df.head()

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,Gender,SSC_Board,HSC_Board,HSC_Stream,Degree,Experience,Specialization,Status
0,67.00,91.00,58.00,55.0,58.80,270000.0,1,1,1,1,2,0,1,1
1,79.33,78.33,77.48,86.5,66.28,200000.0,1,0,1,2,2,1,0,1
2,65.00,68.00,64.00,75.0,57.80,250000.0,1,0,0,0,0,0,0,1
3,56.00,52.00,52.00,66.0,59.43,0.0,1,0,0,2,2,0,1,0
4,85.80,73.60,73.30,96.8,55.50,425000.0,1,0,0,1,0,0,0,1

In [27]:
df.rename(columns={'ssc_p':'SSC_P',
                  'hsc_p':'HSC_P',
                  'degree_p':'Degree_P',
                  'etest_p':'Etest_P',
                  'mba_p':'MBA_P',
                  'salary':'Salary'},inplace=True)

In [28]:
df = df[['Gender','SSC_P','SSC_Board','HSC_P','HSC_Board',
         'HSC_Stream','Degree','Degree_P','Experience',
         "Etest_P","Specialization","Status","Salary"]]

In [29]:
df.head(5)

,Gender,SSC_P,SSC_Board,HSC_P,HSC_Board,HSC_Stream,Degree,Degree_P,Experience,Etest_P,Specialization,Status,Salary
0,1,67.00,1,91.00,1,1,2,58.00,0,55.0,1,1,270000.0
1,1,79.33,0,78.33,1,2,2,77.48,1,86.5,0,1,200000.0
2,1,65.00,0,68.00,0,0,0,64.00,0,75.0,0,1,250000.0
3,1,56.00,0,52.00,0,2,2,52.00,0,66.0,1,0,0.0
4,1,85.80,0,73.60,0,1,0,73.30,0,96.8,0,1,425000.0

In [32]:
X = df.drop("Status",axis=1)
Y = df.Status

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=0,test_size=0.2)

In [34]:
x_train.shape, x_test.shape

((172, 12), (43, 12))

In [35]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [36]:
import tensorflow
from tensorflow import keras
import keras_tuner
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch

/var/folders/pq/hrsjbyn11hb4vs9rzrv32c1r0000gn/T/ipykernel_11649/208133707.py:5: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.
  from kerastuner.tuners import RandomSearch

In [37]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV
from keras.models import Sequential
from keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout
from keras.activations import relu,sigmoid

In [38]:
# Initialising the ANN
ann = Sequential()

ann.add(Dense(units = 12,
                     kernel_initializer = 'he_uniform',
                     activation='relu',
                     input_dim = 12))
ann.add(Dropout(0.2))

ann.add(Dense(units = 10,
                     kernel_initializer='he_uniform',
                     activation='relu'))
ann.add(Dropout(0.2))

ann.add(Dense(units = 8,
                     kernel_initializer='he_uniform',
                     activation='relu'))

ann.add(Dense(units = 1,
                     kernel_initializer = 'glorot_uniform',
                     activation = 'sigmoid'))

2022-08-12 11:38:01.720310: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [39]:
ann.compile(optimizer = 'Adam',
                   loss = 'binary_crossentropy',
                   metrics = ['accuracy'])

In [40]:
ann.fit(x_train,y_train,validation_split=0.33,
        batch_size = 10,epochs = 100)

Epoch 1/100
12/12 [==============================] - 1s 15ms/step - loss: 0.8575 - accuracy: 0.3478 - val_loss: 0.7105 - val_accuracy: 0.4912
Epoch 2/100
12/12 [==============================] - 0s 3ms/step - loss: 0.7888 - accuracy: 0.5043 - val_loss: 0.6942 - val_accuracy: 0.5439
Epoch 3/100
12/12 [==============================] - 0s 3ms/step - loss: 0.7720 - accuracy: 0.4696 - val_loss: 0.6815 - val_accuracy: 0.5263
Epoch 4/100
12/12 [==============================] - 0s 3ms/step - loss: 0.7884 - accuracy: 0.5217 - val_loss: 0.6698 - val_accuracy: 0.5614
Epoch 5/100
12/12 [==============================] - 0s 3ms/step - loss: 0.7527 - accuracy: 0.5652 - val_loss: 0.6578 - val_accuracy: 0.6140
Epoch 6/100
12/12 [==============================] - 0s 3ms/step - loss: 0.6785 - accuracy: 0.6870 - val_loss: 0.6467 - val_accuracy: 0.6667
Epoch 7/100
12/12 [==============================] - 0s 3ms/step - loss: 0.7010 - accuracy: 0.5391 - val_loss: 0.6365 - val_accuracy: 0.6842
Epoch 8/100
12/12 [==============================] - 0s 3ms/step - loss: 0.6695 - accuracy: 0.6522 - val_loss: 0.6260 - val_accuracy: 0.7018
Epoch 9/100
12/12 [==============================] - 0s 3ms/step - loss: 0.6947 - accuracy: 0.6435 - val_loss: 0.6173 - val_accuracy: 0.7018
Epoch 10/100
12/12 [==============================] - 0s 3ms/step - loss: 0.6668 - accuracy: 0.6522 - val_loss: 0.6095 - val_accuracy: 0.7018
Epoch 11/100
12/12 [==============================] - 0s 3ms/step - loss: 0.6311 - accuracy: 0.7565 - val_loss: 0.6016 - val_accuracy: 0.7544
Epoch 12/100
12/12 [==============================] - 0s 3ms/step - loss: 0.6219 - accuracy: 0.7652 - val_loss: 0.5929 - val_accuracy: 0.7719
Epoch 13/100
12/12 [==============================] - 0s 3ms/step - loss: 0.6460 - accuracy: 0.6957 - val_loss: 0.5841 - val_accuracy: 0.7719
Epoch 14/100
12/12 [==============================] - 0s 3ms/step - loss: 0.6108 - accuracy: 0.7478 - val_loss: 0.5750 - val_accuracy: 0.7895
Epoch 15/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5931 - accuracy: 0.7478 - val_loss: 0.5629 - val_accuracy: 0.7895
Epoch 16/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5860 - accuracy: 0.7913 - val_loss: 0.5537 - val_accuracy: 0.7895
Epoch 17/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5745 - accuracy: 0.8261 - val_loss: 0.5418 - val_accuracy: 0.8070
Epoch 18/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5340 - accuracy: 0.8174 - val_loss: 0.5278 - val_accuracy: 0.8070
Epoch 19/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5201 - accuracy: 0.8696 - val_loss: 0.5146 - val_accuracy: 0.8070
Epoch 20/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4988 - accuracy: 0.8522 - val_loss: 0.5007 - val_accuracy: 0.8070
Epoch 21/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5145 - accuracy: 0.8261 - val_loss: 0.4877 - val_accuracy: 0.8421
Epoch 22/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4533 - accuracy: 0.8870 - val_loss: 0.4742 - val_accuracy: 0.8421
Epoch 23/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4653 - accuracy: 0.8435 - val_loss: 0.4605 - val_accuracy: 0.8421
Epoch 24/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4365 - accuracy: 0.8783 - val_loss: 0.4472 - val_accuracy: 0.8596
Epoch 25/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4287 - accuracy: 0.8609 - val_loss: 0.4335 - val_accuracy: 0.8772
Epoch 26/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3966 - accuracy: 0.9130 - val_loss: 0.4206 - val_accuracy: 0.8947
Epoch 27/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3924 - accuracy: 0.8783 - val_loss: 0.4069 - val_accuracy: 0.8947
Epoch 28/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3751 - accuracy: 0.8783 - val_loss: 0.3929 - val_accuracy: 0.8947
Epoch 29/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3934 - accuracy: 0.8696 - val_loss: 0.3811 - val_accuracy: 0.8947
Epoch 30/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3546 - accuracy: 0.8696 - val_loss: 0.3699 - val_accuracy: 0.8772
Epoch 31/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3344 - accuracy: 0.9043 - val_loss: 0.3594 - val_accuracy: 0.8772
Epoch 32/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3282 - accuracy: 0.8957 - val_loss: 0.3493 - val_accuracy: 0.8772
Epoch 33/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3314 - accuracy: 0.8870 - val_loss: 0.3372 - val_accuracy: 0.8772
Epoch 34/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3059 - accuracy: 0.8696 - val_loss: 0.3275 - val_accuracy: 0.8772
Epoch 35/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3322 - accuracy: 0.9043 - val_loss: 0.3189 - val_accuracy: 0.8772
Epoch 36/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2756 - accuracy: 0.8957 - val_loss: 0.3094 - val_accuracy: 0.8772
Epoch 37/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2803 - accuracy: 0.9130 - val_loss: 0.2975 - val_accuracy: 0.9123
Epoch 38/100
12/12 [==============================] - 0s 3ms/step - loss: 0.3060 - accuracy: 0.8870 - val_loss: 0.2884 - val_accuracy: 0.9123
Epoch 39/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2437 - accuracy: 0.9043 - val_loss: 0.2794 - val_accuracy: 0.9123
Epoch 40/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2837 - accuracy: 0.8783 - val_loss: 0.2682 - val_accuracy: 0.9123
Epoch 41/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2759 - accuracy: 0.8957 - val_loss: 0.2601 - val_accuracy: 0.9123
Epoch 42/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2384 - accuracy: 0.9304 - val_loss: 0.2528 - val_accuracy: 0.9123
Epoch 43/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2158 - accuracy: 0.8957 - val_loss: 0.2409 - val_accuracy: 0.9123
Epoch 44/100
12/12 [==============================] - 0s 2ms/step - loss: 0.2552 - accuracy: 0.9130 - val_loss: 0.2351 - val_accuracy: 0.9123
Epoch 45/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2121 - accuracy: 0.9304 - val_loss: 0.2307 - val_accuracy: 0.9123
Epoch 46/100
12/12 [==============================] - 0s 2ms/step - loss: 0.2401 - accuracy: 0.9217 - val_loss: 0.2254 - val_accuracy: 0.9123
Epoch 47/100
12/12 [==============================] - 0s 3ms/step - loss: 0.1852 - accuracy: 0.9217 - val_loss: 0.2193 - val_accuracy: 0.9123
Epoch 48/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2222 - accuracy: 0.9130 - val_loss: 0.2136 - val_accuracy: 0.9123
Epoch 49/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2329 - accuracy: 0.8957 - val_loss: 0.2089 - val_accuracy: 0.9123
Epoch 50/100
12/12 [==============================] - 0s 3ms/step - loss: 0.1935 - accuracy: 0.9130 - val_loss: 0.2037 - val_accuracy: 0.9123
Epoch 51/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2301 - accuracy: 0.8870 - val_loss: 0.1966 - val_accuracy: 0.9123
Epoch 52/100
12/12 [==============================] - 0s 2ms/step - loss: 0.1935 - accuracy: 0.9217 - val_loss: 0.1883 - val_accuracy: 0.9298
Epoch 53/100
12/12 [==============================] - 0s 3ms/step - loss: 0.1660 - accuracy: 0.9391 - val_loss: 0.1833 - val_accuracy: 0.9298
Epoch 54/100
12/12 [==============================] - 0s 3ms/step - loss: 0.1923 - accuracy: 0.9217 - val_loss: 0.1808 - val_accuracy: 0.9298
Epoch 55/100
12/12 [==============================] - 0s 3ms/step - loss: 0.2358 - accuracy: 0.9043 - val_loss: 0.1782 - val_accuracy: 0.9298
Epoch 56/100
12/12 [==============================] - 0s 3ms/step - loss: 0.1892 - accuracy: 0.9130 - val_loss: 0.1779 - val_accuracy: 0.9298
Epoch 57/100
12/12 [==============================] - 0s 2ms/step - loss: 0.1377 - accuracy: 0.9652 - val_loss: 0.1735 - val_accuracy: 0.9474
Epoch 58/100
12/12 [==============================] - 0s 3ms/step - loss: 0.1631 - accuracy: 0.9217 - val_loss: 0.1712 - val_accuracy: 0.9298

Epoch 59/100
12/12 [==============================] - 0s 2ms/step - loss: 0.1848 - accuracy: 0.9043 - val_loss: 0.1711 - val_accuracy: 0.9298
Epoch 60/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0976 - accuracy: 0.9739 - val_loss: 0.1725 - val_accuracy: 0.9298
Epoch 61/100
12/12 [==============================] - 0s 2ms/step - loss: 0.1181 - accuracy: 0.9826 - val_loss: 0.1715 - val_accuracy: 0.9298
Epoch 62/100
12/12 [==============================] - 0s 2ms/step - loss: 0.1752 - accuracy: 0.9304 - val_loss: 0.1679 - val_accuracy: 0.9298
Epoch 63/100
12/12 [==============================] - 0s 3ms/step - loss: 0.1394 - accuracy: 0.9304 - val_loss: 0.1676 - val_accuracy: 0.9298
Epoch 64/100
12/12 [==============================] - 0s 2ms/step - loss: 0.1520 - accuracy: 0.9391 - val_loss: 0.1693 - val_accuracy: 0.9298
Epoch 65/100
12/12 [==============================] - 0s 2ms/step - loss: 0.1020 - accuracy: 0.9739 - val_loss: 0.1682 - val_accuracy: 0.9298
Epoch 66/100
12/12 [==============================] - 0s 3ms/step - loss: 0.1233 - accuracy: 0.9565 - val_loss: 0.1674 - val_accuracy: 0.9298
Epoch 67/100
12/12 [==============================] - 0s 3ms/step - loss: 0.1389 - accuracy: 0.9478 - val_loss: 0.1653 - val_accuracy: 0.9298
Epoch 68/100
12/12 [==============================] - 0s 3ms/step - loss: 0.1228 - accuracy: 0.9565 - val_loss: 0.1637 - val_accuracy: 0.9298
Epoch 69/100
12/12 [==============================] - 0s 3ms/step - loss: 0.1475 - accuracy: 0.9565 - val_loss: 0.1590 - val_accuracy: 0.9474
Epoch 70/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0633 - accuracy: 0.9826 - val_loss: 0.1576 - val_accuracy: 0.9474
Epoch 71/100
12/12 [==============================] - 0s 3ms/step - loss: 0.0974 - accuracy: 0.9652 - val_loss: 0.1560 - val_accuracy: 0.9474
Epoch 72/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0787 - accuracy: 0.9826 - val_loss: 0.1564 - val_accuracy: 0.9474
Epoch 73/100
12/12 [==============================] - 0s 2ms/step - loss: 0.1429 - accuracy: 0.9478 - val_loss: 0.1564 - val_accuracy: 0.9474
Epoch 74/100
12/12 [==============================] - 0s 3ms/step - loss: 0.0824 - accuracy: 0.9739 - val_loss: 0.1563 - val_accuracy: 0.9474
Epoch 75/100
12/12 [==============================] - 0s 3ms/step - loss: 0.0679 - accuracy: 0.9826 - val_loss: 0.1564 - val_accuracy: 0.9474
Epoch 76/100
12/12 [==============================] - 0s 3ms/step - loss: 0.1015 - accuracy: 0.9652 - val_loss: 0.1586 - val_accuracy: 0.9474
Epoch 77/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0387 - accuracy: 1.0000 - val_loss: 0.1587 - val_accuracy: 0.9474
Epoch 78/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0897 - accuracy: 0.9652 - val_loss: 0.1598 - val_accuracy: 0.9474
Epoch 79/100
12/12 [==============================] - 0s 3ms/step - loss: 0.0570 - accuracy: 0.9913 - val_loss: 0.1589 - val_accuracy: 0.9474
Epoch 80/100
12/12 [==============================] - 0s 3ms/step - loss: 0.0483 - accuracy: 0.9826 - val_loss: 0.1541 - val_accuracy: 0.9474
Epoch 81/100
12/12 [==============================] - 0s 3ms/step - loss: 0.0748 - accuracy: 0.9739 - val_loss: 0.1529 - val_accuracy: 0.9474
Epoch 82/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0602 - accuracy: 1.0000 - val_loss: 0.1516 - val_accuracy: 0.9474
Epoch 83/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0566 - accuracy: 0.9826 - val_loss: 0.1499 - val_accuracy: 0.9474
Epoch 84/100
12/12 [==============================] - 0s 2ms/step - loss: 0.1047 - accuracy: 0.9565 - val_loss: 0.1527 - val_accuracy: 0.9474
Epoch 85/100
12/12 [==============================] - 0s 3ms/step - loss: 0.0960 - accuracy: 0.9478 - val_loss: 0.1520 - val_accuracy: 0.9474
Epoch 86/100
12/12 [==============================] - 0s 3ms/step - loss: 0.0530 - accuracy: 0.9913 - val_loss: 0.1539 - val_accuracy: 0.9474
Epoch 87/100
12/12 [==============================] - 0s 4ms/step - loss: 0.0832 - accuracy: 0.9739 - val_loss: 0.1562 - val_accuracy: 0.9474
Epoch 88/100
12/12 [==============================] - 0s 3ms/step - loss: 0.0538 - accuracy: 0.9739 - val_loss: 0.1592 - val_accuracy: 0.9474
Epoch 89/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0707 - accuracy: 0.9652 - val_loss: 0.1599 - val_accuracy: 0.9474
Epoch 90/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0878 - accuracy: 0.9652 - val_loss: 0.1606 - val_accuracy: 0.9474
Epoch 91/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0773 - accuracy: 0.9739 - val_loss: 0.1644 - val_accuracy: 0.9474
Epoch 92/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0609 - accuracy: 0.9826 - val_loss: 0.1695 - val_accuracy: 0.9474
Epoch 93/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0872 - accuracy: 0.9739 - val_loss: 0.1703 - val_accuracy: 0.9474
Epoch 94/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0873 - accuracy: 0.9565 - val_loss: 0.1666 - val_accuracy: 0.9474
Epoch 95/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0961 - accuracy: 0.9478 - val_loss: 0.1653 - val_accuracy: 0.9474
Epoch 96/100
12/12 [==============================] - 0s 3ms/step - loss: 0.0671 - accuracy: 0.9739 - val_loss: 0.1622 - val_accuracy: 0.9474
Epoch 97/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0443 - accuracy: 0.9913 - val_loss: 0.1616 - val_accuracy: 0.9474
Epoch 98/100
12/12 [==============================] - 0s 3ms/step - loss: 0.0558 - accuracy: 0.9739 - val_loss: 0.1630 - val_accuracy: 0.9474
Epoch 99/100
12/12 [==============================] - 0s 2ms/step - loss: 0.0724 - accuracy: 0.9739 - val_loss: 0.1614 - val_accuracy: 0.9474
Epoch 100/100
12/12 [==============================] - 0s 3ms/step - loss: 0.0887 - accuracy: 0.9826 - val_loss: 0.1547 - val_accuracy: 0.9474

In [45]:
y_pred = ann.predict(x_test)
y_pred = y_pred>0.5

In [46]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[15  1]
 [ 1 26]]

In [47]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
print(score)

0.9534883720930233

In [48]:
#Lets predict the dataset value
X.head(1)

,Gender,SSC_P,SSC_Board,HSC_P,HSC_Board,HSC_Stream,Degree,Degree_P,Experience,Etest_P,Specialization,Salary
0,1,67.0,1,91.0,1,1,2,58.0,0,55.0,1,270000.0

In [49]:
Y.head(1)

0    1
Name: Status, dtype: int64

In [51]:
print(ann.predict(sc.transform([[1,67,1,91,1,1,2,58,0,55,1,270000]])))

[[0.99129075]]

In [24]:
#Our Networks predicts correctly

In [25]:
import pickle

In [26]:
with open('model.pkl') as f:
    pickle.dump(ann,f)

FileNotFoundError: [Errno 2] No such file or directory: 'model.pkl'